@page "/editings"


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Редактирование задания</title>
	<base href="~/" />
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
	<link href="css/site.css" rel="stylesheet" />
	<link rel="stylesheet" href="css.css" />
	<script type="text/javascript">
		function showOrHide(vib, vod) {
			vib = document.getElementById(vib);
			vod = document.getElementById(vod);
			if (vib.checked) vod.style.display = "block";
			else vod.style.display = "none";
		}
	</script>
</head>
<body>
	<div class="container">
		<div class="pad">
			<input list="task" class="input" placeholder="Сканирование компьютера" />
			<datalist id="task">
				<option value="Задание">
				<option value="Задание">
				<option value="Задание">
			</datalist>
		</div><hr>
	</div>
	<script src="_framework/blazor.server.js"></script>
	<script src="_content/MudBlazor/MudBlazor.min.js "></script>
</body>
</html>

