@page "/"

<div class="container">
	<div class="in">
		<p class="name">Имя</p>
		<input class="input" placeholder="Планировщик задач">
	</div>
	<div class="cb">
		<input class="rule" type="checkbox" id="rule-active" name="rule-active">
		<p class="p_rule">Правило активно</p>
	</div>

	<div>
		<table>
			<tr>
				<th></th>
				<th>Наименование задания</th>
			</tr>
			<tr>
				<td align="center">
					<input type="checkbox" id="rule-active" name="rule-active">
				</td>
				<td>
					<p class="rs">Сканирование компьютера</p>
				</td>
			</tr>
		</table>
		<div>
			<button class="bt">Создать</button>
			<a href="editing"><button class="bt">Редактировать</button></a>
			<button class="bt">Удалить</button>
			<button class="bt">По умолчанию</button>
		</div>
		<div align="right">
			<button class="bt">Сохранить</button>
			<button class="bt">Отмена</button>
		</div>
	</div>
</div>
